
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2cbb60c3fb9b23e9a68a.json
build/.cmake/api/v1/reply/codemodel-v2-8319566e98424eb90f8a.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2022-01-14T06-49-11-0087.json
build/.cmake/api/v1/reply/target-Tetris-Debug-020246b07ec1b7c7223f.json
build/.cmake/api/v1/reply/toolchains-v1-6760c6fef0bf40fd4443.json
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.21.1/CMakeCCompiler.cmake
build/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.1/CMakeSystem.cmake
build/CMakeFiles/3.21.1/CompilerIdC/a.exe
build/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Tetris.dir/build.make
build/CMakeFiles/Tetris.dir/cmake_clean.cmake
build/CMakeFiles/Tetris.dir/compiler_depend.internal
build/CMakeFiles/Tetris.dir/compiler_depend.make
build/CMakeFiles/Tetris.dir/compiler_depend.ts
build/CMakeFiles/Tetris.dir/depend.make
build/CMakeFiles/Tetris.dir/DependInfo.cmake
build/CMakeFiles/Tetris.dir/flags.make
build/CMakeFiles/Tetris.dir/includes_CXX.rsp
build/CMakeFiles/Tetris.dir/linklibs.rsp
build/CMakeFiles/Tetris.dir/objects.a
build/CMakeFiles/Tetris.dir/objects1.rsp
build/CMakeFiles/Tetris.dir/progress.make
build/CMakeFiles/Tetris.dir/src/board.cpp.obj
build/CMakeFiles/Tetris.dir/src/board.cpp.obj.d
build/CMakeFiles/Tetris.dir/src/game.cpp.obj
build/CMakeFiles/Tetris.dir/src/game.cpp.obj.d
build/CMakeFiles/Tetris.dir/src/main.cpp.obj
build/CMakeFiles/Tetris.dir/src/main.cpp.obj.d
build/CMakeFiles/Tetris.dir/src/renderer.cpp.obj
build/CMakeFiles/Tetris.dir/src/renderer.cpp.obj.d
build/CMakeFiles/Tetris.dir/src/tetromino.cpp.obj
build/CMakeFiles/Tetris.dir/src/tetromino.cpp.obj.d
build/compile_commands.json
build/Makefile
build/Tetris.exe
